---
import { cups } from '../globals'
interface Props {
	cup: typeof cups[number];
    track: typeof cup.tracks[number];
}

// width and height of the cup sprite in pixels
const { cup, track } = Astro.props;
const cup_img_path = "cups/cup-" + cup.id + ".png"
const track_thumbnail_path = "course-thumbnails/" + (cup.id + 1) + "-" + (track.id + 1) + ".jpg"
---

<div class="track">
    <img src={cup_img_path} width=118 height=122 /> 
    <div class="text">
        <h2>
            {track.title}
        </h2>
        <p>
            {cup.name} Cup    
        </p>
    </div>
    <img src={track_thumbnail_path} width=217 height=122/> 
</div>

<style>
    .track {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .text {
        flex: 2;
		margin-left: 1em;
    }
	.text > h2 {
		font-size: 2rem;
        margin-bottom: 0;
		white-space: nowrap;
	}
    .track > img {
        margin: 5px;
    }
</style>
